<% if !@movie_title.present? %>
  
  <h1>Search the OMDB Database to Find a Movie</h1>

  <%= form_tag '/apisearch', method: :get do %>
    <%= label_tag :movie_title, "Enter Title: ", class: "white" %>
    <%= text_field_tag :movie_title %> <%= submit_tag "Search", :class => "btn btn-xs btn-primary" %>
  <% end %>

<% else %>

<h2>Here are the matching movies on OMDB</h2>
<br><br>
  <table class="center">

    <tbody>
     <% @results.each do |result| %>
       <tr class="apisearch">
           <td><%= image_tag "http://img.omdbapi.com/?i=#{result[:imdbID]}&apikey=#{ENV['poster_api_key']}", class: "artwork modal-art-margin" %></td>
          <td><h3><%= result[:Title] %></h3>
          <p><%= result[:Year] %> (<%= link_to "IMDB", "http://www.imdb.com/title/#{result[:imdbID]}/", target: '_blank' %>)</p>
          
            <form action="/movies" method="post">
              <!-- <input type="hidden" name="movie[title]" value='<%= result[:Title] %>'> -->
              <input type="hidden" name="movie[imdbID]" value='<%= result[:imdbID] %>'>
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <select name="movie[watchlist_id]">
                <% Watchlist.all.order("id DESC").each do |watchlist| %>
                <option value="<%= watchlist.id %>"><%= watchlist.list %></option>
                <% end %>
              </select>
              <select name="movie[category_id]">
                <% Category.all.order("name ASC").each do |category| %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
            </select>
              <input type="submit" value="Add this movie">
            </form>
          </td>
        </tr>
      <% end %> <!-- each do -->
    </tbody>
  </table>

<% end %>

<script type='text/javascript'>

$(document).ready(function(){


  $('#submitter').on('click', function(e){
    e.preventDefault();
    e.stopPropagation();
    var titlesearch = this.prev;
    var imdbval = titlesearch.val();
    console.log(imdbval);

  });

  // final closer
});

</script>


