<h1>Watchlists</h1>
<div class="pull-right">
  <%= link_to ' New watchlist', new_watchlist_path, class: "fa fa-plus" %>
</div>

<table class= "table">
  <thead>
    <tr>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watchlists.order("list").each do |watchlist| %>
      <tr>
        <td><%= link_to watchlist.list, watchlist %></td>
        <td><%= link_to ' ', watchlist, class: "fa fa-film" %></td>
        <td><%= link_to ' ', edit_watchlist_path(watchlist), class: "fa fa-pencil" %></td>
        <td><%= link_to ' ', watchlist, method: :delete, data: { confirm: 'Are you sure you want to delete this watchlist? This will NOT delete any movies assigned to this watchlist, but it will leave them feeling unloved. I recommend promptly reassigning them to a watchlist.' }, class: "fa fa-trash-o" %></td>
      </tr>
    <% end %>
  </tbody>
</table>




