<div class="row">
  <p class="pull-right"><%= link_to "All Movies", movies_path %></p>
  <h1>Watchlist: <%= @watchlist.list %></h1>
</div><!-- row -->

<div class="row">
  <h2>In the Queue...</h2>
  <% @watchlist.movies.order("created_at DESC").each do |movie| %>

    <% unless movie.been_watched %>
      <div class="movie-holder">
      <div class="movie-title">
         <p><%= movie.title %></p>
       </div><!-- movie-title -->
       <p><a href="#" data-toggle="modal" data-target="#myModal_<%= movie.id %>">
       <%= image_tag movie.imdb_artwork, class: "artwork" %></a></p>
        <div class="movie-footer-unwatched <%= 'hidden' if movie.been_watched %>">
          <h4><%= movie.watchlist.list if movie.watchlist.present? %></h4>
        </div><!-- movie-footer -->
      </div><!-- movie-holder -->
    <% end %> <!-- unless -->

    <!-- Modal Partial - Called "Movie" -->
    <%= render :partial=>'movies/movie', :object=> movie %>

  <% end %><!-- each do -->
</div><!-- row -->

<div class="row">
  <h2>Recently Watched...</h2>
  <% @watchlist.movies.order("updated_at DESC").each do |movie| %>

    <% if movie.been_watched %>
      <div class="movie-holder">
      <div class="movie-title">
         <p><%= movie.title %></p>
       </div><!-- movie-title -->
       <p><a href="#" data-toggle="modal" data-target="#myModal_<%= movie.id %>">
       <%= image_tag movie.imdb_artwork, class: "artwork" %></a></p>
        <div class="movie-footer-unwatched <%= 'hidden' if movie.been_watched %>">
          <h4><%= movie.watchlist.list if movie.watchlist.present? %></h4>
        </div><!-- movie-footer -->
      </div><!-- movie-holder -->
    <% end %> <!-- unless -->

    <!-- Modal Partial - Called "Movie" -->
    <%= render :partial=>'movies/movie', :object=> movie %>

  <% end %><!-- each do -->
</div><!-- row -->