<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title*" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Who Should Watch This?*" %><br>
    <%= f.collection_select :watchlist_id, Watchlist.all.order("id").reverse, :id, :list, {prompt: "Please Select"}, {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label "Category*" %><br>
    <%= f.collection_select :category_id, Category.all.order("name"), :id, :name,  {prompt: "Enter a Category"}, {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label "Check the box if you've already watched it:" %> <%= f.check_box :watchstatus %>
  </div>
  <div class="field">
    <%= f.label "Enter a link to where we can watch it:" %><br>
    <%= f.text_field :watch_url, placeholder: "http://...", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Enter a link to the trailer:" %><br>
    <%= f.text_field :preview_link, placeholder: "http://...", class: "form-control" %>
  </div>
  <%= image_tag @movie.imdb_artwork, class: "artwork" if @movie.imdb_artwork.present?  %>
  <div class="field">
    <%= f.label "Add Link to Movie Cover Image" %><br>
    <%= f.text_field :imdb_artwork, placeholder: "http://...", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :date_watched %><br>
    <%= f.date_select :date_watched, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :location_watched %><br>
    <%= f.text_field :location_watched, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :our_rating %><br>
    <%= f.text_field :our_rating, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
