<!-- Modal -->
    <div class="modal fade" id="myModal_<%= movie.id %>" tabinde="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <div class="pull-right">
              <%= form_for(movie, url: movie_path(movie), :html => {class: "form-inline"}) do |f| %>
                 <% if movie .been_watched %>
                 <p class="movie-status-watched">Watched</p>
                   <%= f.hidden_field :been_watched, :value => false %>
                   <%= f.submit "Mark as Unwatched", class: "btn btn-default btn-xs" %>
                 <% else %>
                 <p class="movie-status-unwatched">Unwatched</p>
                   <%= f.hidden_field :been_watched, :value => true %>
                   <%= f.submit "Mark as Watched", class: "btn btn-default btn-xs" %>
                 <% end %>  <!-- if -->
               <% end %> <!-- do -->
              </div><!--pull-right-->
            <h4 class="modal-title" id="myModalLabel">A <%= movie.category.name if movie.category.present? %> for <%= movie.watchlist.list %></h4>
            
          </div> <!-- modal header -->

          <div class="modal-body">
          <div class="row">
              <div class="col-sm-3">
              <%= image_tag movie.imdb_artwork, class: "artwork movie-holder" %>
                <div class="watch-info <%= 'hidden' unless movie.watch_url.present? %>">
                  <%= button_to "Watch Movie", movie.watch_url, class: "btn btn-primary btn-s" %>

                </div><!--watch-info-->
                <div style="margin-top: 5%;" class="watch-info <%= 'hidden' unless movie.preview_link.present? %>">
                  <%= button_to "Watch Trailer", movie.preview_link, class: "btn btn-danger btn-xs" %>
                </div><!--watch-info-->


              </div><!--col-sm-3-->

              <div class="col-sm-9">
              
              <h2><%= movie.title %> <span style="font-size: 40%;">(<%= movie.year_released %>)</span></h2>
              <div class="pull-right">
                <%= link_to ' ', edit_movie_path(movie), class: "fa fa-pencil" %>&nbsp;
                <%= link_to ' ', movie, method: :delete, data: { confirm: 'Are you sure you want to delete this movie?' }, class: "fa fa-trash-o" %>
              </div><!--pull-right-->
              <div class="stats">
                <p><%= link_to "IMDB", movie.imdb_url %>: <%= movie.imdb_rating %> of 10 | <%= movie.runtime %> min | <%= movie.imdb_genre %></p>
                <p>Our Rating: <%= movie.our_rating if movie.our_rating.present? %> | Category: <%= movie.category.name if movie.category.present? %></p>  
              </div><!-- stats -->
              
              <p><strong>Plot Summary:</strong> <%= movie.imdb_plot_summary %></p>
              <p <%= 'hidden' unless movie.notes.present? %>><strong>Notes:</strong> <%= movie.notes %></p>
              <p <%= 'hidden' unless movie.date_watched.present? %>><strong>Watched on:</strong> <%= movie.date_watched %></p>
              <p <%= 'hidden' unless movie.location_watched.present? %>><strong>Watched at:</strong> <%= movie.location_watched %></p>
                

              </div><!--col-sm-9-->
            </div><!--row-->
          </div><!-- modal-body -->

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> <!-- modal-footer -->
        </div> <!-- modal-content -->
      </div> <!-- modal-dialog -->
    </div> <!-- modal fade-->