<!-- Modal -->
    <div class="modal fade" id="myModal_<%= movie.id %>" tabinde="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <div class="pull-right">
              <%= form_for(movie, url: movie_path(movie), :html => {class: "form-inline"}) do |f| %>
                 <% if movie .been_watched %>
                 <p class="movie-status-watched">Watched<br>
                   <%= f.hidden_field :been_watched, :value => false %>
                   <%= f.submit "Mark as Unwatched", class: "btn btn-default btn-xs btn-hider" %></p>
                 <% else %>
                 <p class="movie-status-unwatched">Unwatched</br>
                   <%= f.hidden_field :been_watched, :value => true %>
                   <%= f.submit "Mark as Watched", class: "btn btn-default btn-xs btn-hider" %></p>
                 <% end %>  <!-- if -->
               <% end %> <!-- do -->
              </div><!--pull-right-->
            <h4 class="modal-title" id="myModalLabel">A <%= movie.category.name if movie.category.present? %> for <%= movie.watchlist.list if movie.watchlist.present? %></h4>

          </div> <!-- modal header -->

          <div class="modal-body">
          <div class="row">
              <div class="col-sm-3">
              <%= image_tag movie.imdb_artwork, class: "artwork movie-holder-modal modal-art-margin" %>
                <div class="watch-info <%= 'hidden' unless movie.watch_url.present? %>">
                  <%= button_to "Watch Movie", movie.watch_url, method: :get, class: "btn btn-success btn-s", form: {target: '_blank'} %>
                </div><!--watch-info-->

                <div class="watch-info">
                <div class="trailer-button">
                <a class="trailer-button" href="https://www.youtube.com/results?search_query=<%= movie.title %>+movie+official+trailer" target="_blank">YouTube Trailer</a>
                </div><!--trailer-button-->
                </div><!--watch-info-->
                
              </div><!--col-sm-3-->

              <div class="col-sm-9">

              <h2 class="modal-text"><%= movie.title %> <span style="font-size: 40%;">(<%= movie.year_released %>)</span></h2>
              <div class="pull-right">
                <%= link_to ' ', edit_movie_path(movie), class: "fa fa-pencil fa-lg" %>&nbsp; &nbsp;
                <%= link_to ' ', movie, method: :delete, data: { confirm: 'Are you sure you want to delete this movie?' }, class: "fa fa-trash-o fa-lg" %>
              </div><!--pull-right-->
              <div class="stats">
                <p><%= link_to "IMDB", movie.imdb_url, :target => "_blank" %>: <%= movie.imdb_rating %> of 10 | <%= movie.runtime %> min | <%= movie.imdb_genre %></p>
                <hr/>
              </div><!-- stats -->

              <p><strong>Plot Summary:</strong> <%= movie.imdb_plot_summary %></p>
              <p <%= 'hidden' unless movie.notes.present? %>><strong>Notes:</strong> <%= movie.notes %></p>
              <p <%= 'hidden' unless movie.our_rating.present? %>><strong>Our Rating:</strong> <%= movie.our_rating %></p>
              <p <%= 'hidden' unless movie.date_watched.present? %>><strong>Watched on:</strong> <%= movie.date_watched.stamp("January 1st, 2015") if movie.date_watched.present? %></p>
              <p <%= 'hidden' unless movie.location_watched.present? %>><strong>Watched at:</strong> <%= movie.location_watched %></p>


              </div><!--col-sm-9-->
            </div><!--row-->
          </div><!-- modal-body -->

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> <!-- modal-footer -->
        </div> <!-- modal-content -->
      </div> <!-- modal-dialog -->
    </div> <!-- modal fade-->