<div class="row">
  <h1>All Movies</h1>
  <div class="pull-right">
  <%= link_to '+ Movie', new_movie_path %>
  </div><!--pull-right-->
</div><!-- row -->

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-3">
      <div class="panel panel-default">
       <div class="panel-body">
       <div class="panel-header">
       <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Click
        </button>
       </div> <!-- panel-header -->
          <%= image_tag movie.imdb_artwork, class: "artwork" %>
          (<%= movie.watchlist.list %>)
        </div><!--panel body-->
        <div class="panel-footer">
          <%= movie.category.name %>: <%= link_to 'Watch', movie.watch_url %> | <%= link_to 'Preview', movie.watch_url %> | <%= link_to 'Mark as Watched', edit_movie_path(movie) %> | IMDB: <%= movie.imdb_rating %>
        </div><!--panel-footer-->
        <div class="panel-footer">
        <%= link_to 'Show', movie %>
        <%= link_to 'Edit', edit_movie_path(movie) %>
        <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div><!--panel-footer-->
      </div><!--panel-->
    </div><!--col-sm-3-->  
  <% end %>
</div><!-- row -->




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          content
      </div><!--container-fluid-->

      </div><!--modal-body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

