<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Imdb url</th>
      <th>Watch url</th>
      <th>Date watched</th>
      <th>Location watched</th>
      <th>Category</th>
      <th>Watchlist</th>
      <th>Our rating</th>
      <th>Notes</th>
      <th>Imdb artwork</th>
      <th>Imdb plot summary</th>
      <th>Imdb rating</th>
      <th>Imdb genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= link_to 'IMDB', movie.imdb_url %></td>
        <td><%= link_to 'Watch', movie.watch_url %></td>
        <td><%= movie.date_watched %></td>
        <td><%= movie.location_watched %></td>
        <td><%= movie.category.name %></td>
        <td><%= movie.watchlist.list %></td>
        <td><%= movie.our_rating %></td>
        <td><%= movie.notes %></td>
        <td><%= image_tag movie.imdb_artwork %></td>
        <td><%= movie.imdb_plot_summary %></td>
        <td><%= movie.imdb_rating %></td>
        <td><%= movie.imdb_genre %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
