<h1>All Movies</h1>
<div class="pull-right">
<%= link_to '+ Movie', new_movie_path %>
</div><!--pull-right-->

<% @movies.each do |movie| %>
  <div class="col-sm-3">
    <div class="panel panel-default">
     <div class="panel-body">
        <%= image_tag movie.imdb_artwork, class: "artwork" %>
        (<%= movie.watchlist.list %>)
      </div><!--panel body-->
      <div class="panel-footer">
        <%= movie.category.name %>: <%= link_to 'Watch', movie.watch_url %> | <%= link_to 'Preview', movie.watch_url %> | <%= link_to 'Mark as Watched', edit_movie_path(movie) %> | IMDB: <%= movie.imdb_rating %>
      </div><!--panel-footer-->
      <div class="panel-footer">
      <%= link_to 'Show', movie %>
      <%= link_to 'Edit', edit_movie_path(movie) %>
      <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div><!--panel-footer-->
    </div><!--panel-->
  </div><!--col-sm-3-->  
<% end %>




<br>


